@import "tailwindcss";

body {
  font-family: var(--font-montserrat, "Roboto");
 padding-left: 16px;
  padding-right: 16px;


/* @media (min-width: 640px) and (max-width: 767px) {
  padding-left: calc(50% - 172px);
  padding-right: calc(50% - 172px);
} */

@media (min-width: 768px) and (max-width: 1024px) {
  padding-left: calc(50% - 395px);
  padding-right: calc(50% - 395px);
}

@media (min-width: 1025px) {
  padding-left: calc(50% - 580px);
  padding-right: calc(50% - 580px);
}
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
a,
input {
  font-family: var(--font-montserrat, "Roboto");
}

a {
  text-decoration: none;
}
html {
  scroll-behavior: smooth;
}
